<% if current_user.present? %>
  <h2 id="body1">《在线测试系统》</h2>
  <h3 id="body">欢迎登入考试系统，请点击考试中心参与考试!</h3>
<% else %>
  <h2 id="body1">《在线测试系统》</h2>
  <h3 id="body">欢迎登入考试系统，请点击考试中心进行发布/批阅试卷!</h3>
<% end %>


<script type="text/javascript">
  $(function(){
    var b_height = $(window).height() - 214 + "px";
    $("#body").css({"height": b_height, "line-height":b_height/2, "text-align": "center"})
    var t_height = $(window).height() - 180 + "px";
    $("#body1").css({"height": t_height, "line-height":b_height/2, "text-align": "center"})
  })
</script>